@import '../../Styles/_variables.scss';

.profile-component {
  display: flex;

  .ant-avatar {
    margin-bottom: 50px;
  }

  .logos {
    text-align: center;

    a {
      display: block;
      margin-bottom: 20px;
    }
  }

  .content {
    padding: 0 0 0 50px;

    p {
      font-size: 21px;
    }
  }
}
