@import '../../Styles/_variables.scss';

.profile-component {
  display: flex;

  .ant-avatar {
    background-color: $green;
    margin-right: 15px;
  }

  .avatar {
    width: 20%;
  }

  .content {
    width: 80%;
  }
}
